#subContentsWrap #subVisual {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 3;
}
#subContentsWrap #subVisual .subTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
#subContentsWrap #subVisual .subTitle h2 {
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#subContentsWrap #subVisual .subTitle p {
  font-size: 18px;
}
#subContentsWrap #subVisual #lnb {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 100%;
}
#subContentsWrap #subVisual #lnb .contents {
  width: 1200px;
  margin: auto;
  display: flex;
}
#subContentsWrap #subVisual #lnb .contents .home a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
}
#subContentsWrap #subVisual #lnb .contents .item button {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #fff;
}
#subContentsWrap #subVisual #lnb .contents .item ul {
  border: 1px solid #111111;
  background-color: #fff;
  display: none;
  border-top: none;
  border-bottom: none;
}
#subContentsWrap #subVisual #lnb .contents .item ul li {
  border-bottom: 1px solid #111111;
}
#subContentsWrap #subVisual #lnb .contents .item ul li a {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 20px;
}
#subContentsWrap .subVisual01 {
  background-image: url("../images/contents/subVisual01.jpg");
}
#subContentsWrap .subVisual02 {
  background-image: url("../images/contents/subVisual02.jpg");
}
#subContentsWrap .subVisual03 {
  background-image: url("../images/contents/subVisual03.jpg");
}
#subContentsWrap .subVisual04 {
  background-image: url("../images/contents/subVisual04.jpg");
}
#subContentsWrap .subVisual05 {
  background-image: url("../images/contents/subVisual05.jpg");
}
#subContentsWrap #subContents {
  padding: 100px 0;
}
#subContentsWrap #subContents .subTitle {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
}
#subContentsWrap #subContents .subTitle:after {
  content: "";
  display: block;
  position: relative;
  width: 40px;
  height: 4px;
  background-color: #bf0c14;
  margin: 50px auto;
}
#subContentsWrap #subContents .contents {
  width: 1200px;
  margin: auto;
}

.tabBox .tabMenu ul {
  display: flex;
  justify-content: center;
}
.tabBox .tabMenu ul li {
  width: 200px;
  height: 60px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: none;
  cursor: pointer;
}
.tabBox .tabMenu ul li:nth-child(1) {
  border-left: 1px solid #d9d9d9;
}
.tabBox .tabMenu ul li.on {
  background-color: #bf0c14;
  border-color: #bf0c14;
  color: #fff;
  text-shadow: 1px 1px 0px #8f090f,2px 2px 0px #8f090f,3px 3px 0px #8f090f,4px 4px 0px #8f090f,5px 5px 0px #8f090f,6px 6px 0px #8f090f,7px 7px 0px #8f090f,8px 8px 0px #8f090f,9px 9px 0px #8f090f,10px 10px 0px #8f090f,11px 11px 0px #8f090f,12px 12px 0px #8f090f,13px 13px 0px #8f090f,14px 14px 0px #8f090f,15px 15px 0px #8f090f,16px 16px 0px #8f090f,17px 17px 0px #8f090f,18px 18px 0px #8f090f,19px 19px 0px #8f090f,20px 20px 0px #8f090f,21px 21px 0px #8f090f,22px 22px 0px #8f090f,23px 23px 0px #8f090f,24px 24px 0px #8f090f,25px 25px 0px #8f090f,26px 26px 0px #8f090f,27px 27px 0px #8f090f,28px 28px 0px #8f090f,29px 29px 0px #8f090f,30px 30px 0px #8f090f,31px 31px 0px #8f090f,32px 32px 0px #8f090f,33px 33px 0px #8f090f,34px 34px 0px #8f090f,35px 35px 0px #8f090f,36px 36px 0px #8f090f,37px 37px 0px #8f090f,38px 38px 0px #8f090f,39px 39px 0px #8f090f,40px 40px 0px #8f090f;;
}
.tabBox .tabContents > ul > li {
  display: none;
}
.tabBox .tabContents > ul > li:first-child {
  display: block;
}

.history .historyList {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  position: relative;
}
.history .historyList:before {
  content: "";
  display: block;
  width: 1px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #d9d9d9;
  left: 50%;
  margin-left: -1px;
}
.history .historyList > li {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
.history .historyList > li:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 5px solid #bf0c14;
  background-color: #fff;
  position: absolute;
  top: 10px;
  border-radius: 100px;
  box-sizing: border-box;
}
.history .historyList > li .year {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.history .historyList > li ul li {
  display: flex;
  margin: 15px 0;
}
.history .historyList > li ul li strong {
  font-weight: 700;
}
.history .historyList > li:nth-child(2n) {
  padding-right: 50px;
}
.history .historyList > li:nth-child(2n):before {
  right: 0;
  transform: translateX(50%);
}
.history .historyList > li:nth-child(2n) .year {
  display: flex;
  justify-content: flex-end;
}
.history .historyList > li:nth-child(2n) ul li {
  flex-direction: row-reverse;
  display: flex;
}
.history .historyList > li:nth-child(2n) ul li strong {
  margin-left: 20px;
}
.history .historyList > li:nth-child(2n+1) {
  padding-left: 50px;
  margin-left: auto;
}
.history .historyList > li:nth-child(2n+1):before {
  left: 0;
  transform: translateX(-50%);
}
.history .historyList > li:nth-child(2n+1) ul li strong {
  margin-right: 20px;
}

#map {
  height: 600px;
  margin-top: 100px;
}

.customOverlay {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}
.customOverlay a {
  display: block;
  padding: 10px 20px;
  background-color: #bf0c14;
  overflow: hidden;
  text-shadow: 1px 1px 0px #8f090f,2px 2px 0px #8f090f,3px 3px 0px #8f090f,4px 4px 0px #8f090f,5px 5px 0px #8f090f,6px 6px 0px #8f090f,7px 7px 0px #8f090f,8px 8px 0px #8f090f,9px 9px 0px #8f090f,10px 10px 0px #8f090f,11px 11px 0px #8f090f,12px 12px 0px #8f090f,13px 13px 0px #8f090f,14px 14px 0px #8f090f,15px 15px 0px #8f090f,16px 16px 0px #8f090f,17px 17px 0px #8f090f,18px 18px 0px #8f090f,19px 19px 0px #8f090f,20px 20px 0px #8f090f,21px 21px 0px #8f090f,22px 22px 0px #8f090f,23px 23px 0px #8f090f,24px 24px 0px #8f090f,25px 25px 0px #8f090f,26px 26px 0px #8f090f,27px 27px 0px #8f090f,28px 28px 0px #8f090f,29px 29px 0px #8f090f,30px 30px 0px #8f090f;;
  border-radius: 5px;
  color: #fff;
}
.customOverlay:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #8f090f;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}