@import "vars";
@import "mixin";
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Titillium Web", "Raleway", "Noto Sans KR", sans-serif;
  background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
img {
  vertical-align: top;
}
.hidden {
  display: none;
}
#header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  #logo {
    position: absolute;
    height: 50px;
    padding: 5px 20px;
    img {
      height: 40px;
    }
  }
  #gnb {
    ul {
      display: flex;
      justify-content: center;
      li.selected a:after {
        opacity: 1;
      }
      a {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        padding: 0 40px;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background-color: #f00;
          border-radius: 100%;
          position: absolute;
          bottom: 5px;
          left: calc(50% - 4px);
          opacity: 0;
          transition: 0.25s ease;
        }
      }
    }
  }
  .util {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    a {
      font-weight: 700;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      border-left: 1px solid #d9d9d9;
    }
  }
}
#main {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}
#itemList {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 10%;
  position: absolute;
  right: calc(50% - 400px);
  box-sizing: border-box;
  li {
    width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    padding: 80px;
    box-sizing: border-box;
    justify-content: flex-end;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    //opacity: 0;
    //transform: scale(0);
    // @for $i from 1 through 100 {
    //   &:nth-child(#{$i}) {
    //     transform: translateZ(-($i - 1) * 5000px);
    //     z-index: calc(100 - $i);
    //   }
    // }

    .info {
      width: 50%;
      color: #fff;
      .title {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      }
      .desc {
        line-height: 1.5;
        font-size: 18px;
      }
      a {
        display: inline-block;
        padding: 20px 50px;
        background-color: #111;
        @include longShadow(darken(#111, 10), 30);
        overflow: hidden;
        color: #fff;
        border-radius: 100px;
        margin-top: 50px;
      }
    }
    .img {
      position: absolute;
      left: -100px;
      top: 50%;
      transform: translateY(-50%);
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
      img {
        max-width: 500px;
        max-height: 600px;
        object-fit: contain;
      }
    }
  }
}
